<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="img/game_item_default.png" />
    <link rel="stylesheet" href="css/vuetify-gfont.css" />
    <link rel="stylesheet" href="css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="css/vuetify.min.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <meta property="og:title" content="Red Mantis Portal" />
    <meta property="og:locale" content="en_US" />
    <meta
      name="description"
      content="Free Web Services, Informations, Medias and Entertainment all in one Application without annoying Ads"
    />
    <meta
      property="og:description"
      content="Free Web Services, Informations, Medias and Entertainment all in one Application without annoying Ads"
    />
    <link rel="canonical" href="https://eru123.github.io/" />
    <meta property="og:url" content="https://eru123.github.io/" />
    <meta property="og:site_name" content="Red Mantis Portal" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Red Mantis Portal" />
    <meta name="twitter:site" content="@EruRoraito9" />
    <style>
      * {
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
      }
      .app-flex-parent {
        display: flex;
        flex-wrap: wrap;
      }
      .app-flex-child-5 {
        flex: 1 0 20%;
        padding: 8px      
      }
      .app-flex-child-4 {
        flex: 1 0 25%;
        padding: 8px      
      }
      .app-flex-child-3 {
        flex: 1 0 33.33%;
        padding: 8px      
      }
      .app-flex-child-2 {
        flex: 1 0 50%;
        padding: 8px      
      }
      .app-flex-child-1 {
        flex: 1 0 100%;
        padding: 8px      
      }
            /* On screens that are 992px or less, set the background color to blue */
      @media screen and (max-width: 800px) {
        .app-flex-child-md-5 {
          flex: 1 0 20%;
          padding: 8px      
        }
        .app-flex-child-md-4 {
          flex: 1 0 25%;
          padding: 8px      
        }
        .app-flex-child-md-3 {
          flex: 1 0 33.33%;
          padding: 8px      
        }
        .app-flex-child-md-2 {
          flex: 1 0 50%;
          padding: 8px      
        }
        .app-flex-child-md-1 {
          flex: 1 0 100%;
          padding: 8px      
        }
      }

      /* On screens that are 600px or less, set the background color to olive */
      @media screen and (max-width: 650px) {
        .app-flex-child-sm-5 {
          flex: 1 0 20%;
          padding: 8px      
        }
        .app-flex-child-sm-4 {
          flex: 1 0 25%;
          padding: 8px      
        }
        .app-flex-child-sm-3 {
          flex: 1 0 33.33%;
          padding: 8px      
        }
        .app-flex-child-sm-2 {
          flex: 1 0 50%;
          padding: 8px      
        }
        .app-flex-child-sm-1 {
          flex: 1 0 100%;
          padding: 8px      
        }
      }
    </style>
  </head>
  <body style="display: none">

    <div id="app">
      <v-app v-if="!browser">
        <v-navigation-drawer v-model="drawer" app>
          <v-list dense>
            <v-list-item v-for="item in menu" link :href="item.link">
              <v-list-item-action>
                <v-icon>{{item.icon}}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{item.name}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>

        <v-app-bar app color="primary" dark>
          <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          <v-toolbar-title>{{pageName}}</v-toolbar-title>
        </v-app-bar>

        <!-- Sizes your content based upon application components -->
        <v-main>
          <!-- Provides the application the proper gutter -->
          <v-container fluid>
            <!-- If using vue-router -->
            <router-view :key="$route.fullPath"></router-view>
          </v-container>
          <v-footer
            v-if="fetching"
            color="primary"
            padless
            dark
            app
            class="pl-2"
            style="font-size: 0.7em"
            >Fetching Data
          </v-footer>
        </v-main>
      </v-app>
      <v-app v-if="browser && browserLink">
        <v-app-bar app color="primary" dark>
          <v-btn icon @click="closeBrowser">
            <v-icon color="#fff">mdi-arrow-left</v-icon>
          </v-btn>
          <v-toolbar-title>{{browserTitle || ''}}</v-toolbar-title>
        </v-app-bar>
        <v-main style="background-image: url('img/loading.gif');background-repeat: no-repeat;background-position: center;background-size:200px auto;">
          <iframe :src="browserLink" width="100%" height="100%" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </v-main>
      </v-app>
    </div>

    <script type="text/x-template" id="home">
      <div>
        <div v-if="greet" class="px-8 py-4" elevation="6"><h1 style="color:#484f4f">{{greet}}</h1></div>
        <div class="app-flex-parent">
          <div v-for="item in featured" class="app-flex-child-4 app-flex-child-md-2 app-flex-child-sm-1" elevation="6">
            <v-card  :color="item.color" dark link :href="item.link || ''">
              <v-list-item>
                <v-list-item-avatar color="">
                  <v-img v-if="item.img" :src="item.img"></v-img>
                  <v-icon v-if="item.icon && !item.img">{{item.icon}}</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline" v-if="item.title">{{item.title}}</v-list-item-title>
                  <v-list-item-subtitle v-if="item.description">{{item.description}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="xdata">
      <div>
        <div v-if="posts || false">
          <div v-for="post in posts">
            
            <h1 v-if="post.type == 'heading' && post.level == 1">{{post.content}}</h1>
            
            <h2 v-if="post.type == 'heading' && post.level == 2">{{post.content}}</h2>
           
            <h3 v-if="post.type == 'heading' && post.level == 3">{{post.content}}</h3>
           
            <h4 v-if="post.type == 'heading' && post.level == 4">{{post.content}}</h4>
           
            <h5 v-if="post.type == 'heading' && post.level == 5">{{post.content}}</h5>
         
            <h6 v-if="post.type == 'heading' && post.level == 6">{{post.content}}</h6>
         
            <p v-if="post.type == 'paragraph' && post.alignment == 'left'" style="text-align:left">{{post.content}}</p>
         
            <p v-if="post.type == 'paragraph' && post.alignment == 'right'" style="text-align:right">{{post.content}}</p>
         
            <p v-if="post.type == 'paragraph' && post.alignment == 'center'" style="text-align:center">{{post.content}}</p>
         
            <p v-if="post.type == 'paragraph' && post.alignment == 'justify'" style="text-align:justify">{{post.content}}</p>
         
            <v-card v-if="post.type == 'card'" :class="'my-' + (post.my || '8')" >
              <v-list-item v-if="post.avatar" link :href="post.href || ''">
                <v-list-item-avatar color="#ccc">
                  <v-img v-if="post.img" :src="post.img"></v-img>
                  <v-icon v-if="post.icon && !post.img">{{post.icon}}</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline" v-if="post.title">{{post.title}}</v-list-item-title>
                  <v-list-item-subtitle v-if="post.subtitle">{{post.subtitle}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-card-title v-if="!post.avatar && post.title">
                <span class="headline">{{post.title}}</span>
              </v-card-title>
              <v-card-subtitle v-if="!post.avatar && post.subtitle">{{post.subtitle}}</v-card-subtitle>
              <v-card-text v-if="post.content">{{post.content}}</v-card-text>
              <v-img v-if="post.imageUrl" :src="post.imageUrl" :lazy-src="post.thumbnail || 'img/loading.gif'"></v-img>
              <v-card-actions v-if="post.actions && post.actions.length > 0">
                <v-btn v-for="action in post.actions" depressed :color="action.color || 'primary'" :href="action.link" class="ma-2">{{action.name}}</v-btn>
              </v-card-actions>
            </v-card>
         
            <v-card v-if="post.type == 'card-mobile'" :class="'my-' + (post.my || '8')" style="max-width:600px;margin-right:auto;margin-left:auto">
              <v-list-item v-if="post.avatar" link :href="post.href || ''">
                <v-list-item-avatar color="#ccc">
                  <v-img v-if="post.img" :src="post.img"></v-img>
                  <v-icon v-if="post.icon && !post.img">{{post.icon}}</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline" v-if="post.title">{{post.title}}</v-list-item-title>
                  <v-list-item-subtitle v-if="post.subtitle">{{post.subtitle}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-card-title v-if="!post.avatar && post.title">
                <span class="headline">{{post.title}}</span>
              </v-card-title>
              <v-card-subtitle v-if="!post.avatar && post.subtitle">{{post.subtitle}}</v-card-subtitle>
              <v-card-text v-if="post.content">{{post.content}}</v-card-text>
              <v-img v-if="post.imageUrl" :src="post.imageUrl" :lazy-src="post.thumbnail || 'img/loading.gif'"></v-img>
              <v-card-actions v-if="post.actions && post.actions.length > 0">
                <v-btn v-for="action in post.actions" depressed :color="action.color || 'primary'" :href="action.link" class="ma-2">{{action.name}}</v-btn>
              </v-card-actions>
            </v-card>
         
            <v-carousel hide-delimiters v-if="post.type == 'carousel'">
              <v-carousel-item
                v-for="(item,i) in post.items"
                :key="i"
                :src="item.src"
              ></v-carousel-item>
            </v-carousel>
         
            <div v-if="post.type=='youtube'" align="center">

              <iframe :width="post.width || '100%'" :height="post.height || '300px'" :src="post.link || ''" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
         
            <v-expansion-panels accordion v-if="post.type == 'expansion-panel'">
              <v-expansion-panel v-for="item in post.items">
                <v-expansion-panel-header>{{item.title}}</v-expansion-panel-header>
                <v-expansion-panel-content>{{item.content}}</v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
         
            <div v-if="post.type == 'loading'" align="center" class="my-8"><v-progress-circular :size="50" color="primary" indeterminate></v-progress-circular></div>
            
            <v-list-item v-if="post.type == 'videos-categories'" v-for="item in post.items" :href="'#/videos/' + item.id">
              <v-list-item-action>
                <v-icon>mdi-format-list-bulleted</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{item.name}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            
            <div v-if="post.type == 'back'">
              <v-btn class="mb-4" :color="post.color || 'primary'" v-if="post.link" :href="post.link">{{post.name || 'Back'}}</v-btn>
              <v-btn class="mb-4" :color="post.color || 'primary'" v-if="!post.link" @click="$router.back()">{{post.name || 'Back'}}</v-btn>
            </div>
            
            <v-expansion-panels accordion v-if="post.type == 'videos-playlists'" class="my-3">
              <v-expansion-panel v-for="item in post.items" :key="item.code">
                <v-expansion-panel-header>{{item.name}}</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-list>
                    <v-list-item v-for="video in item.childs" :key="video.name" @click="openYT(video.name,video.code)" link>
                      <v-list-item-icon>
                        <v-icon color="red">mdi-youtube</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>{{ video.name }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
            
            <iframe v-if="post.type == 'videos-playback'" width="100%" height="350" :src="'https://www.youtube.com/embed/' + post.code" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <div v-if="post.type == 'reload'" align="center">

              <v-btn class="my-4" color="primary" @click="location.reload()">Reload</v-btn>
            </div>

            <div v-if="post.type == 'restart'" align="center">

              <v-btn class="my-4" color="primary" link href="index.html">Restart</v-btn>
            </div>

            <div v-if="post.type == 404" align="center">
              <h3 class="my-8">The link you are trying to access is invalid or the page is deleted.</h3>
              <v-btn outlined color="primary" @click="router.push('/home')">Home</v-btn>
            </div>

            <div v-if="post.type == 'books-recommended'">
              <v-list-item two-line v-for="item in post.items" link @click="openBook(item.name,item.link)">
                <v-list-item-action>
                  <v-icon>mdi-book</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>{{item.name}}</v-list-item-title>
                  <v-list-item-subtitle style="text-transform: capitalize">
                    {{item.category || 'No Category'}}
                    <small v-for="tag in item.tags" style="color:#1e90ff;margin-left:4px"> #{{tag}} </small>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div v-if="post.type == 'books-category'">
              <v-list-item two-line v-for="item in post.items" link @click="openBook(item.name,item.link)">
                <v-list-item-action>
                  <v-icon>mdi-book</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>{{item.name}}</v-list-item-title>
                  <v-list-item-subtitle>
                    <small v-for="tag in item.tags" style="color:#1e90ff;margin-left:4px"> #{{tag}} </small>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </div>

            <div v-if="post.type == 'books-categories'">
              <v-list-item two-line v-for="item in post.items" link :href="'#/books/' + item.category">
                <v-list-item-action>
                  <v-icon>mdi-format-list-bulleted</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title style="text-transform: capitalize">{{item.category}}</v-list-item-title>
                  <v-list-item-subtitle style="text-transform: capitalize">
                    <small v-for="tag in item.tags" style="color:#1e90ff;margin-left:4px"> #{{tag}} </small>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </div>
          </div>
        </div>
      </div>
    </script>

    <!-- Production -->
    <!-- <script src="js/vue.min.js"></script> -->

    <!-- Development -->
    <script src="js/dev-vue.js"></script> 

    <script src="js/vue-router.js"></script>
    <script src="js/vuex.js"></script>
    <script src="js/vuetify.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/marked.min.js"></script>
    <script src="js/red-mantis.js"></script>
    <script src="js/comp.js"></script>
    <script src="app.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
