<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="img/game_item_default.png" />
    <link rel="stylesheet" href="css/vuetify-gfont.css">
    <link rel="stylesheet" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/vuetify.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body style="display: none;">
    <div id="app">
      <v-app>
        <v-navigation-drawer v-model="drawer" app>
          <v-list dense>
            <v-list-item v-for="item in menu" link :href="item.link">
              <v-list-item-action>
                <v-icon>{{item.icon}}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{item.name}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>

        <v-app-bar
          app
          color="primary"
          dark
        >
          <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          <v-toolbar-title>{{pageName}}</v-toolbar-title>
        </v-app-bar>

        <!-- Sizes your content based upon application components -->
        <v-main>

          <!-- Provides the application the proper gutter -->
          <v-container fluid>

            <!-- If using vue-router -->
            <router-view></router-view>
          </v-container>
           <v-footer v-if="sourcesFetchStatus.fetching" color="primary" padless dark app class="pl-2" style="font-size: .7em">Fetching Data ({{sourcesFetchStatus.fetch}}/{{sources.length}}) Failed: {{sourcesFetchStatus.error}}</v-footer>
        </v-main>

      </v-app>
    </div>

    <script type="text/x-template" id="xdata">
      <div>
        <div v-if="posts || false">
          <div v-for="post in posts">
            <h1 v-if="post.type == 'heading' && post.level == 1">{{post.content}}</h1>
            <h2 v-if="post.type == 'heading' && post.level == 2">{{post.content}}</h2>
            <h3 v-if="post.type == 'heading' && post.level == 3">{{post.content}}</h3>
            <h4 v-if="post.type == 'heading' && post.level == 4">{{post.content}}</h4>
            <h5 v-if="post.type == 'heading' && post.level == 5">{{post.content}}</h5>
            <h6 v-if="post.type == 'heading' && post.level == 6">{{post.content}}</h6>
            <p v-if="post.type == 'paragraph' && post.alignment == 'left'" style="text-align:left">{{post.content}}</p>
            <p v-if="post.type == 'paragraph' && post.alignment == 'right'" style="text-align:right">{{post.content}}</p>
            <p v-if="post.type == 'paragraph' && post.alignment == 'center'" style="text-align:center">{{post.content}}</p>
            <p v-if="post.type == 'paragraph' && post.alignment == 'justify'" style="text-align:justify">{{post.content}}</p>
            <v-card v-if="post.type == 'card'" :class="'my-' + (post.my || '8')">
              <v-list-item v-if="post.avatar">
                <v-list-item-avatar color="#f2f2f2" class="elevation-6" >
                  <v-img v-if="post.img" :src="post.img"></v-img>
                  <v-icon v-if="post.icon && !post.img">{{post.icon}}</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline" v-if="post.title">{{post.title}}</v-list-item-title>
                  <v-list-item-subtitle v-if="post.subtitle">{{post.subtitle}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-card-title v-if="!post.avatar && post.title">{{post.title}}</v-card-title>
              <v-card-subtitle v-if="!post.avatar && post.subtitle">{{post.subtitle}}</v-card-subtitle>
              <v-card-text v-if="post.content">{{post.content}}</v-card-text>
              <v-img v-if="post.imageUrl" :src="post.imageUrl"></v-img>
              <v-card-actions v-if="post.actions && post.actions.length > 0">
                <v-btn v-for="action in post.actions" depressed :color="action.color || 'primary'" :href="action.link" class="ma-2">{{action.name}}</v-btn>
              </v-card-actions>
            </v-card>
            <v-carousel hide-delimiters v-if="post.type == 'carousel'">
              <v-carousel-item
                v-for="(item,i) in post.items"
                :key="i"
                :src="item.src"
              ></v-carousel-item>
            </v-carousel>
            <div v-if="post.type=='youtube'" align="center">
              <iframe :width="post.width || '100%'" :height="post.height || '300px'" :src="post.link || ''" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <v-expansion-panels accordion v-if="post.type == 'expansion-panel'">
              <v-expansion-panel v-for="item in post.items">
                <v-expansion-panel-header>{{item.title}}</v-expansion-panel-header>
                <v-expansion-panel-content>{{item.content}}</v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
            <div v-if="post.type == 'loading'" align="center" class="my-8"><v-progress-circular :size="50" color="primary" indeterminate  ></v-progress-circular></div>
          </div>
        </div>
      </div>
    </script>


    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/vuex.js"></script>
    <script src="js/vuetify.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/idb.js"></script>
    <script src="js/comp.js"></script>
    <script src="app.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
